[paths]
mc_path = /usr/games/minecraft
world_path = /home/mc/servers
archive_path = /home/mc/archive
backup_path = /home/mc/backup
snapshot_path = /home/mc/snapshots
import_path = /home/mc/import
http_snapshot_path = /var/www/hiawatha/maps
s3fs_path = /mnt/s3

[downloads]
mc_jar = minecraft_server.jar
mc_jarloc = http://s3.amazonaws.com/MinecraftDownload/launcher/minecraft_server.jar
bukkit_jar = craftbukkit.jar
bukkit_jarloc = http://dl.bukkit.org/latest-rb/craftbukkit.jar
tekkit_jar = Tekkit.jar
tekkit_zip = tekkit.zip
tekkit_ziploc = http://github.com/downloads/TechnicPack/Technic/Tekkit_Server_2.0.zip
c10t_tgz = c10t-1.9-linux-x86.tar.gz
c10t_ver = 1.9
c10t_tgzloc = http://toolchain.eu/minecraft/c10t/releases/c10t-1.9-linux-x86.tar.gz
canary_jar = CanaryMod.jar
canary_zip = canary.zip
canary_ziploc = http://dl.canarymod.net/get.php?v=latest

[template]
java_path = /usr/java/java-latest
java_bin = java
java_tweaks = -server
pure_args = nogui
bukkit_args = 
canary_args = nogui
tekkit_args = 

[update]
pure = true
bukkit = true
tekkit = true
canary = false
c10t = false

