[minecraft]
port = 25565
max_players = 20
mem = 1024
level_seed = 
gamemode = 0
difficulty = 2

[crontabs]
freq_archive = none
freq_backup = none
freq_map = none

[onreboot]
restore = true
start = false

[mapping]
map_c10t = false
map_pigmap = true
map_standard = true
map_caves = true
map_night = true
map_oblique = true
map_oblique_night = true
map_oblique_cave = true
map_hell = true
map_hell_oblique = true

[java]
java_path = /usr/java/java-latest
java_bin = java
java_tweaks = -server
server_jar = minecraft_server.jar
server_jar_args = 

